<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>view test</title>
</head>

    <body>

        <div><strong>{$desc}</strong></div>
        <br>
        <div>{$date}</div>
        <br>
        <div><?php echo date('Y-m-d H:i:s'); ?></div>
        <br>
        <div>{php}echo date('Y-m-d H:i:s'){/php}</div>

    </body>

</html>